@model MvcStudentRegisterProject.Models.Table

@{
    ViewBag.Title = "Details";
}

<h4>Student Details</h4>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentMail)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.StudentPhoto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentPhoto)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.StudentAdress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentAdress)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<dt>
    <img src="@Model.StudentPhoto" width="150" height="150" />
</dt>



